/* ---COLORS--- */

/* Naturel */
$N0: #ffffff;
$N1: #e3e3e3;
$N2: #c8c8c8;
$N3: #909090;
$N4: #7f7f7f;
$N5: #666666;
$N6: #343434;
$N7: #303030;
$N8: #252525;
$N9: #212121;
$N10: #1a1a1a;
$N11: #000000;
