* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

html,
body,
a,
button,
input,
textarea,
select {
  font-family: $BASE_FONT;
}

body {
  min-height: 100vh;
  color: #666666;
}

html {
  font-size: $BASE_FONT_SIZE;
  background-color: #f7f7f7;
}
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
