@import '/src/styles/core.scss';

.navigation {
  padding: $PADDING_MOBILE;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.link {
  text-decoration: none;
  color: $N10;
  &:not(:last-child) {
    margin-right: 32px;
  }
  transition: color .2s ease;
  @include hover {
    color: lighten($color: $N10, $amount: 20);
  }
}
